html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  color: #fff;
  font-family: Bevan, cursive;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
  margin: 0;
  width: 100%;
}

h1 {
  font-family: Bevan, serif;
  text-align: center;
  margin: 0;
}

a {
  background-color: #713837;
  border: 0 solid #713837;
  border-radius: 5px;
  color: #fff;
  font-family: sans-serif;
  display: inline-block;
  padding: .5em .75em;
  text-decoration: none;
}

a:hover {
  background-color: #f33;
  border-color: #f33;
}

ul {
  list-style-type: none;
  margin: .3em;
  text-align: center;
  padding: 0;
}

li {
  display: inline-block;
  margin: .3em;
}

body {
  margin: 0;
}
